**/bootstrap.min.js
**/imagesloaded.pkgd.min.js
**/jquery-2.1.3.min.js
**/jquery.googlemap.js
**/jquery.hoverdir.js
**/jquery.magnific-popup.min.js
**/jquery.shuffle.min.js
**/masonry.pkgd.min.js
**/modernizr.custom.js
**/owl.carousel.min.js
**/pages-switcher.js
**/validator.js